@model IEnumerable<Garage3.Models.ViewModels.MemberOverViewViewModel>

@{
    ViewData["Title"] = "MemberOverView";
}

<h1>Members</h1>

<p>
    <a class="viewBtn" asp-action="RegisterMember">Register New Member</a>
    <a class="viewBtn" asp-action="Index2">Search a Member</a>
    <a class="viewBtn ml-4" asp-action="CheckInVehicle">Park a Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfVehicles)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfVehicles)
            </td>
            <td>
                <a class="viewBtn" asp-action="MemberDetails" asp-route-id="@item.ID">Member Details</a>
             <!--   <a class="viewBtn" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="viewBtn" asp-action="Checkout" asp-route-id="@item.ID">Check Out</a> -->
            </td>
        </tr>
}
    </tbody>
</table>
